.HeaderAccess {
    display: flex;
    align-items: center;
    flex: auto;
  }
  .Padd {
    padding: 16px !important;
    cursor: pointer;
  }
  .Iconcolor{
    color: #225fa1;
  }
  .Buttoncolor{
    margin: 30px;
    outline: none;
  }
  .Right{
      text-align: right;
  }